{% extends "base.html" %}
{% load tailwind_filters %}


{% block title %}registration{% endblock %}

{% block content %}
<div class="max-w-md mx-auto bg-white shadow-lg rounded-lg p-8 mt-10">
    <h1 class="text-2xl font-semibold text-gray-800 mb-6">Registration Form</h1>

    <form method="POST" class="space-y-6">
        {% csrf_token %}

        <!-- Render Crispy Form -->
        {{ form|crispy }}

        <!-- Submit Button -->
        <button type="submit"
                class="w-full bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded-lg shadow-md">
            Register
        </button>
    </form>
</div>
{% endblock %}
